<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cennavi.plan.mapper.BaseRoleMapper">
  <resultMap id="BaseRoleMap" type="com.cennavi.plan.model.BaseRole">
    <id column="roleid" jdbcType="VARCHAR" property="roleid" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <collection property="menuList" column="roleid" javaType="list" select="selectAllMenus"></collection>
  </resultMap>

  <select id="selectAllMenus" resultType="BaseMenu">
    select * from base_menu where id in (select menuid from base_role_menu_mapping where roleid=#{roleid})
  </select>

  <sql id="Base_Column_List">
    roleid, rolename, desc
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseRoleMap">
    select 
    <include refid="Base_Column_List" />
    from base_role
    where roleid = #{roleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_role
    where roleid = #{roleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cennavi.plan.model.BaseRole">
    insert into base_role (roleid, rolename, desc
      )
    values (#{roleid,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cennavi.plan.model.BaseRole">
    insert into base_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        roleid,
      </if>
      <if test="rolename != null">
        rolename,
      </if>
      <if test="desc != null">
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cennavi.plan.model.BaseRole">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update base_role
    <set>
      <if test="rolename != null">
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where roleid = #{roleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cennavi.plan.model.BaseRole">
    update base_role
    set rolename = #{rolename,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR}
    where roleid = #{roleid,jdbcType=VARCHAR}
  </update>

  <select id="queryByRoleID" resultMap="BaseRoleMap">
    select roleid,rolename,"desc" from base_role where roleid = #{roleid}
  </select>

</mapper>